#the address that whill cash in the liquidated bitcoin 
OWNER_ADDRESS=0xE7c7417D1360B188401f4dd4bc757A0bc4dE433f

#BSC testnet as of 2022-06-22 - compete.sovryn.app/perpetual
MANAGER_ADDRESS=0xE952cCc755758A127623163e96B032619Bb42143
TOKEN_ADDRESS=0xcF3D22A034Fa157985F0Fe71F15477446f80Be26

NODE_URLS='["https://data-seed-prebsc-2-s1.binance.org:8545/","http://data-seed-prebsc-1-s2.binance.org:8545/","http://data-seed-prebsc-2-s2.binance.org:8545/","https://data-seed-prebsc-1-s3.binance.org:8545","https://data-seed-prebsc-2-s3.binance.org:8545"]'

#reconnect the contract instances after ~1h
MAX_BLOCKS_BEFORE_RECONNECT=180

TELEGRAM_BOT_SECRET=
TELEGRAM_CHANNEL_ID=
HEARTBEAT_LISTENER_URL=