#the address that whill cash in the liquidated bitcoin 
OWNER_ADDRESS=0xE7c7417D1360B188401f4dd4bc757A0bc4dE433f

#BSC testnet as of 2022-02-28 - compete.sovryn.app/perpetual
MANAGER_ADDRESS=0x4ba52e04aa0669305311E96062E682664f1d3A39
TOKEN_ADDRESS=0x18f41b0605f79a91A8d3D04290bbfbE35A157982

NODE_URLS='["https://data-seed-prebsc-2-s1.binance.org:8545/","http://data-seed-prebsc-1-s2.binance.org:8545/","http://data-seed-prebsc-2-s2.binance.org:8545/","https://data-seed-prebsc-1-s3.binance.org:8545","https://data-seed-prebsc-2-s3.binance.org:8545"]'

#reconnect the contract instances after ~1h
MAX_BLOCKS_BEFORE_RECONNECT=180

TELEGRAM_BOT_SECRET=
TELEGRAM_CHANNEL_ID=
HEARTBEAT_LISTENER_URL=