<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.0/angular-csp.min.css"
        integrity="sha512-nptw3cPhphu13Dy21CXMS1ceuSy2yxpKswAfZ7bAAE2Lvh8rHXhQFOjU+sSnw4B+mEoQmKFLKOj8lmXKVk3gow=="
        crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="./styles.css" />
    <title>Troves</title>
</head>

<body ng-controller="trovesCtrl as ctrl">
    <div>
        <div style="margin-top: 20px;">
            <h4>Troves</h4>

            <div style="margin:  8px -15px;" class="row">
                <div class="col-md-2 col-xs-6">
                    <select name="filterSpotStatus" class="form-control" ng-model="ctrl.troves.status"
                        ng-change="ctrl.listTroves('spot')">
                        <option value="">All status</option>
                        <option value="open">Open</option>
                        <option value="liquidated">Liquidated</option>
                        <option value="closedByOwner">Closed by owner</option>
                    </select>
                </div>
            </div>
            <p><strong>Total rows: {{ctrl.troves.total}}</strong></p>
            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Date</th>
                        <th>Collateral Amount</th>
                        <th>Borrowed Amount</th>
                        <th>ICR</th>
                        <th>Status</th>
                        <th>Owner</th>
                        <th>Liquidator</th>
                        <th>Liquidation tx</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="trove in ctrl.troves.list" ng-class="{'bg-red': trove.icr < 1.15}">
                        <td>{{ trove.id }}</td>
                        <td>{{ trove.dateAdded |date:'dd/MM/yyyy hh:mm' }}</td>
                        <td>{{ trove.collateralBtc | number:6 }}</td>
                        <td>{{ trove.borrowedUsd | number:2 }}</td>
                        <td>{{ (trove.icr * 100) |number:2 }}</td>
                        <td>{{ trove.status }}</td>
                        <td>
                            <a ng-if="trove.owner != null" href="{{ctrl.blockExplorer}}/address/{{trove.owner}}" target="_blank">
                                {{ctrl.short(trove.owner)}}
                            </a>
                        </td>
                        <td>
                            <a ng-if="trove.liquidator != null" href="{{ctrl.blockExplorer}}/address/{{trove.liquidator}}" target="_blank">
                                {{ctrl.short(trove.liquidator)}}
                            </a>
                        </td>
                        <td>
                            <a ng-if="trove.txHash != null" href="{{ctrl.blockExplorer}}/tx/{{trove.txHash}}" target="_blank">
                                {{ctrl.short(trove.txHash)}}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul uib-pagination class="pagination-sm" boundary-links="true" total-items="ctrl.troves.total"
                ng-model="ctrl.troves.page" ng-change="ctrl.listTroves('spot')" items-per-page="100" max-size="5"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
            </ul>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.0/angular.min.js"
        integrity="sha512-jiG+LwJB0bmXdn4byKzWH6whPpnLy1pnGA/p3VCXFLk4IJ/Ftfcb22katPTapt35Q6kwrlnRheK6UPOIdJhYTA=="
        crossorigin="anonymous"></script>
    <script src="./libs/ui-bootstrap-custom-2.5.0.min.js"></script>
    <script src="./libs/ui-bootstrap-custom-tpls-2.5.0.min.js"></script>
    <script src="main.js"></script>
</body>

</html>